<div class="row">
    <div class="col-sm-6">
        <h2>Is this your Email ID ?</h2>
        <hr>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="sendPasswordResetLink()">Yes. Send a password reset link.</button>
        </div>
    </div>
    <div class="col-sm-12">
        <div *ngIf="successMessage">
            <div class="alert alert-info">Password reset mail is sent to the above mentioned mail. Click on the link in the mail to reset your password and then <a routerLink="/user-auth">login</a> again.</div>
        </div>
        <div *ngIf="errorMessage">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>
    </div>
</div>
