<div class="row">
    <div class="col-sm-6">
        <h2>
            <div *ngIf="email; else noEmail">
                Is this your Email ID ?
            </div>
            <ng-template #noEmail>
                Please enter your Email ID
            </ng-template>
        </h2>
        <hr>
        <!-- Form -->
        <form (ngSubmit)="sendPasswordResetLink()" #form="ngForm">
            <div class="form-group">
                <input type="email" class="form-control" name="email" [(ngModel)]="email" email required ngModel>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <span *ngIf="email">Yes. </span> 
                    Send password reset link.
                </button>
            </div>
        </form>
        <!-- End of form -->
    </div>
    <div class="col-sm-12">
        <div *ngIf="successMessage">
            <div class="alert alert-info">Password reset mail is sent to the above mentioned mail. Click on the link in the mail to reset your password and then <a routerLink="/user-auth">login</a> again.</div>
        </div>
        <div *ngIf="errorMessage">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>
    </div>
</div>
